
<div class="row mt-5">

  <div class="col-md-6 mx-auto">

    <div class="card rounded-0">

      <div class="card-header">
        <h5>Décoder une clé</h5>
      </div>

      <div class="card-body">

        <form>

          <div class="form-group">
            <label for="">Clé à décoder</label>
            <input type="texte" class="form-control" id="key_post" placeholder="">
          </div>

          <div class="form-group">
            <label for="">Votre réponse</label>
            <input type="texte" class="form-control" id="reponse">
          </div>

          <button type="submit" class="btn btn-success">Vérifier</button>

        </form>

      </div>

    </div>

  </div>

</div>
