

<div class="row mt-5">

  <div class="col-md-4 mb-3">

    <div class="card">

      <div class="card-header">
        <h5>Exemple de messages Enigma originaux</h5>
      </div>

      <div class="card-body">

        <p class="card-text">
          Les numéros de message ont été ajoutés par les stations d'interception britanniques.
        </p>

        <p class="card-text">
          Le premier groupe de trois lettres indique la position initiale (Grundstellung) des rotors de la machine qui a chiffré
          (et la position initiale (Grundstellung) de la machine qui va déchiffrer).
          Cette position initiale des rotors est prescrite par les instructions quotidiennes de tous les chiffreurs d'un même réseau.
        </p>

        <p class="card-text">
          Le second groupe de trois lettres est l'indicateur du message. C'est le résultat du chiffrement des trois lettres de la
          clef choisie par le chiffreur qui a chiffré le message.
        </p>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-sm-6">

    <div class="card">

      <div class="card-body">

        <h5 class="card-title">- 83 - ADJ JNA -</h5>

        <p class="card-text">
          LMHNX WEKLM UERDS EVHLC
          JSQQK VLDES ANEVT YEDGI
          ZQDOD RMDKG SXGSQ SHDQP
          VIEAP IENLI CLZCL LAGWC
          BJZD
        </p>

      </div>

    </div>

  </div>

  <div class="col-sm-6">

    <div class="card">

      <div class="card-body">

        <h5 class="card-title">- 149 - TLS CMU -</h5>

        <p class="card-text">
          FTMKV DRJMG FBUDK LZCTR
          FLTUU IWVJL OYKYX GDCKJ
          TMDFB WNLZQ JAXHP GGKFG
          SBZOQ KQKUK TINMH BAJOO
          AUILA QVFTK LSTMM XGAQL
          CNHUW LFHKA ULTXT BIVIF
          EWWDY PUCNS TPJHR OBWHE
          KYUSB CANYC W
        </p>

      </div>

    </div>

  </div>

</div>
